@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    /* border: solid rgb(23, 157, 247) 1px; */
    font-family: "Roboto", sans-serif;
    background-color: #5379AE;
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    margin: 0;
    background-color: #262B40;
    color: #A8C4EC;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

h1 {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 40px;
}

#padding {
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-grow: 100%;
    height: 100%;
    width: 100%;
}

#startDiv {
    background-color: white;
    text-align-last: center;
    min-height: 500px;
    height: fit-content;
    padding-bottom: 30px;
    width: calc(100%-40px);
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.322);
    border-radius: 4px;
}

#textBox {
    padding: 30px;
    font-size: 20px;
    width: 80%;
    justify-self: center;
    text-align: center;
}

#startButton {
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    align-items: center;
    justify-items: center;
    color: white;
    background-color: #42db56;
    border-color: #087e18;
    border-radius: 8px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.322);
}

#startButton:hover {
    background-color: #227a2e;
    border-color: #075010;
}

#mainDiv {
    display: flex;
}

#mainDiv.is-hidden {
    display: none;
}

.is-visible {
    display: block;
}

#paddingMobile {
    display: none;
}

#mapContainer,#infoContainer{
    /* box-sizing: border-box; */
    position: relative;
    padding: 12px;
    width: calc(50% - 10px);
    height: 500px;

}

#info {
    /* padding: 10px; */
    background-color: #A8C4EC;
    border: solid #A8C4EC 1px;
    width: 100%;
    height: 100%;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.322);
    border-radius: 4px;

}

#map {
    width: 100%;
    height: 100%;
    box-shadow: 8px 8px 5px rgb(0, 0, 0, 0.322);
    border-radius: 4px;
}

#buttonDiv{
    cursor: pointer;
    display: block;
    font-family: "Roboto", sans-serif;
    z-index: 1000000;
    margin: 10px;
    visibility: hidden;
    position:absolute;
    left: 15px;
    top: 100px;
    text-align: center;
    color: black;
    pointer-events: none;
}

#pos1Button,#pos2Button {
    background-color: rgb(255,255,255);
    background-clip: padding-box;
    border: 0px;
    display: table-cell;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-wrap: nowrap;
    min-width: 60px;
    z-index: 1000000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    pointer-events: none;
}

#pos1Button:hover {
    background-color: #575757;
}

#crosshair {
    position:absolute;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    width: 20px;
    height: 20px;
    z-index: 10;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #ff0000;
    pointer-events: none;
    visibility: hidden;
}

@media (max-width: 800px) {
    #mainDiv {
        width: 100%;
        display: block;
    }
    #mapContainer,#infoContainer {
        width: 100%;
        box-sizing: border-box;
    }
    #paddingMobile {
        display: block;
    }
}